<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scope</key>
	<array>
		<string>/Applications</string>
		<string>/Applications/DL</string>
		<string>/Applications/Note</string>
		<string>/Applications/Setapp</string>
		<string>/Applications/UML</string>
		<string>/Applications/Utilities</string>
		<string>/Applications/Xcode.app/Contents/Applications</string>
		<string>/Applications/便利ツール</string>
		<string>/Applications/手動起動</string>
		<string>/Applications/画像_動画</string>
		<string>/Applications/見る</string>
		<string>/Developer/Applications</string>
		<string>/Library/PreferencePanes</string>
		<string>/opt/homebrew/Cellar</string>
		<string>/System/Library/CoreServices/Applications</string>
		<string>/System/Library/PreferencePanes</string>
		<string>/usr/local/Cellar</string>
		<string>~/Library/Application Support/JetBrains/Toolbox</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/AndroidStudio</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/AppCode</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/CLion</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/datagrip</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/Datalore</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/DataSpell</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/Goland</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/IDEA-C</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/IDEA-E</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/IDEA-E/ch-0/213.6461.90</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/IDEA-U</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/MPS</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/PhpStorm</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/Projector</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/PyCharm-E</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/PyCharm-P</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/Rider</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/RubyMine</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/Toolbox</string>
		<string>~/Library/Application Support/JetBrains/Toolbox/apps/WebStorm</string>
		<string>~/Library/Caches/Metadata</string>
		<string>~/Library/CloudStorage/iCloudDrive</string>
		<string>~/Library/Mobile Documents</string>
		<string>~/Library/PreferencePanes</string>
	</array>
</dict>
</plist>
